<form class="formulario__login" id="login-form" action="/login" method="POST">
    <h2>Iniciar Sesi칩n</h2>
    <label for="maill">Correo</label><input type="email" name="mail" placeholder="Correo Electr칩nico">
    <label for="passs">Contrase침a</label><input type="password" name="pass" placeholder="Contrase침a">
    <button type="submit">Entrar</button>
    <div class="error-message" id="error-message"></div>
</form>